<!DOCTYPE html>
<html>
<head>
    <title>Upload File</title>
</head>
<body>
    <style>
        h1{
            text-align:center;
            font-family: 'Courier New', Courier, monospace;
            margin-top:50px
        }
        .form {
                    display: flex;
                    justify-content: space-between;
                    margin: 0 auto;
            margin-top:150px;
                    width:250px;
                }
        
    </style>
    <h1>Upload a CSV or Excel file</h1>
    <form method="POST" enctype="multipart/form-data" action="" class="form">
        {% csrf_token %}
        <input type="file" name="uploaded_file">
        <button type="submit">Upload</button>
    </form>
</body>
</html>